:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
* {
   margin:0;
   padding: 0;
}

body {
   font-family: Arial, sans-serif;
}

.App {
   display: flex;
   width: 100vw;
   min-height: 100vh;
 }/* .condiv class is for the right side content container*/

.condiv {
  padding: 100px ;
  background-color: #f4f5f9;
  flex:var(--condiv-flex);
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/